<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
</head>
<body>
    <nav class="nav">
        <h3>Demo Book Store</h3>
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a href="/about-us">About us</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <!-- <li>
                <a href="#">My books</a>
            </li> -->
            <ul class="dropdown">
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/seller_auth">Become Seller</a>
                </li>
            </ul>
        </ul>

    </nav>
    
    
</body>
</html>