<div class="card">
<div class="seller_signup">

    <form #sellerSignup="ngForm" (ngSubmit)="seller_Signup(sellerSignup.value)">

        <h3>
            Seller Signup
        </h3>
        <p>{{msg}}</p>
        <div>
            <input class="" type="text" name="fullname" placeholder="Full Name" ngModel required>
        </div>

        <div>
            <input class="" type="email" name="email" placeholder="Email" ngModel required>
        </div>

        <div>
            <input class="" type="password" name="password" placeholder="Password" ngModel required>
        </div>

        <div>
            <input class="" type="password" name="cpassword" placeholder="Confirm Password" ngModel required>
        </div>

        <div>
            <button type="submit" class="">
                Sign Up
            </button>
        </div>


    </form>
</div>
</div>