<p>add-book works!</p>
<form [formGroup]="bookForm" (ngSubmit)="addBook()" enctype="multipart/form-data">
    <div>
        <label>Book Title</label>
        <input type="text" name="book_title" formControlName="title" required>
    </div>
    <div>
        <label>Book Price</label>
        <input type="text" name="book_price" formControlName="price"  required>

    </div>
    <!-- <div>
        <label>Book Image</label>
        <input type="file" name="book_image" formControlName="book_image" (change)="onFileSelect($event)" required>

    </div> -->
    <div>
        <label>Book Description</label>
        <textarea formControlName="description" name="description" rows=5 cols=20  required></textarea>

    </div>

    <button type="submit" >Add</button>
</form>

<p>-------------------------------------------------------------------</p>
<!-- <form>
    <input type="file" name="image" (change)="onFileSelect($event)">
</form> -->