<p>add-book works!</p>
<form #BookForm="ngForm" (ngSubmit)="addBook(BookForm.value)" enctype="multipart/form-data">
    <div>
        <label>Book Title</label>
        <input type="text" name="title" ngModel required>
    </div>
    <div>
        <label>Book Price</label>
        <input type="text" name="price" ngModel required>

    </div>
    <div>
        <label>Book Image</label>
        <input type="file" name="book_image" (change)="onFileSelect($event)" ngModel required>

    </div>
    <div>
        <label>Book Description</label>
        <textarea  name="description" rows=5 cols=20  ngModel required></textarea>

    </div>

    <button type="submit" >Add</button>
</form>
