/* You can add global styles to this file, and also import other style files */
body{
    font-family: sans-serif;
}


.card{
    box-shadow : 0 4px 8px 0 black;
    transition: 0.3s;
    width:fit-content;
    padding: 10px 10px 10px 10px;
    margin-top:50px;
    display: block;
    margin-left: auto;
    margin-right: auto

}